.components-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.tile {
  flex: 1; /* This allows both tiles to share available space equally */
  max-width: 600px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for a raised tile effect */
  transition: transform 0.3s ease; /* Animation for hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for a raised tile effect */
  background-color: #f5f5f5; /* Light gray background for visibility */
  padding: 2px; /* Add space inside the tile */
  border-radius: 8px; /* Optional rounded corners */
  background: rgb(245, 248, 250);
}

.tile:hover {
  transform: scale(1.005);
}

@media (max-width: 800px) {
  .components-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tile {
    width: 100%;
    max-width: none;
    margin: 1rem;
  }
}
