.tax-display-container {
  padding: 0 1.5rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
}

/** START:: Contains total tax and Effective tax margin CSS*********/
.summary-section {
  background: #9053c7;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.25rem 0;
  margin-bottom: 1.25rem;
  background-color: #f5f5f5;
}

.summary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  background-color: #ffffff;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background: #e3dae1;
  flex-grow: 1;
}

.summary-item:hover {
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.15);
}

.summary-item label {
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

/** END:: Contains total tax and Effective tax margin CSS*********/

/** START:: CSS for tiles*********/
.tax-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.tax-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem 0;
  border: 1px solid #ccc;
}

.header {
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.bracket-range,
.tax-rate,
.tax-amount,
.total-label,
.total-value {
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid #abaed3;
  background: #e3dae1;
}
/** END:: CSS for tiles*********/
